<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

        <context-param>
            <param-name>primefaces.THEME</param-name>
            <param-value>pepper-grinder</param-value>
        </context-param>

        <servlet>
            <servlet-name>health</servlet-name>
            <jsp-file>/health.jsp</jsp-file>
        </servlet>
        <servlet-mapping>
            <servlet-name>health</servlet-name>
            <url-pattern>/health</url-pattern>
        </servlet-mapping>

        <security-role>
            <description>Normal user to the My application.</description>
            <role-name>USER</role-name>
        </security-role>

        <security-constraint>
            <web-resource-collection>
                <web-resource-name>Restricted access</web-resource-name>
                <url-pattern>/*</url-pattern>
                <http-method>DELETE</http-method>
                <http-method>GET</http-method>
                <http-method>POST</http-method>
                <http-method>PUT</http-method>
                <http-method>HEAD</http-method>
                <http-method>TRACE</http-method>
                <http-method>OPTIONS</http-method>
            </web-resource-collection>
            <auth-constraint>
                <role-name>USER</role-name>
            </auth-constraint>
            <user-data-constraint>
                <transport-guarantee>NONE</transport-guarantee>
            </user-data-constraint>
        </security-constraint>

        <!-- Configure login to be HTTP Basic -->
        <login-config>
            <auth-method>BASIC</auth-method>
            <realm-name>RealmUsersRoles</realm-name>
        </login-config>

        <welcome-file-list>
            <welcome-file>faces/client/wizard-step1.xhtml</welcome-file>
        </welcome-file-list>

        <session-config>
            <session-timeout>5</session-timeout>
        </session-config>


    <context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>false</param-value>
    </context-param>
    <servlet>
        <servlet-name>My Vaadin App</servlet-name>
        <servlet-class>org.magi.quotes.presentation.admin.VaadinAppServlet</servlet-class>
        <init-param>
            <description>Vaadin root</description>
            <param-name>root</param-name>
            <param-value>org.magi.quotes.presentation.admin.MyApplicationRoot</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>My Vaadin App</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>My Vaadin App</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>

</web-app>

